---
import Layout from "~/layouts/PageLayout.astro";
import HeroText from "~/components/widgets/HeroText.astro";
import ContactUs from "~/components/widgets/Contact.astro";
import Button from "~/components/ui/Button.astro";
const metadata = {
  title: "Contact",
};

const serviceKey = import.meta.env.VITE_SERVICE_KEY;
const templateKey = import.meta.env.VITE_JOIN_TEMPLATE_KEY;
const publicKey = import.meta.env.VITE_PUBLIC_KEY;
---

<script
  is:inline
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
></script>
<script is:inline define:vars={{ serviceKey, templateKey, publicKey }}>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("form");

    emailjs.init(publicKey);

    console.log(publicKey);
    form.addEventListener("submit", (event) => {
      console.log("submitted");
      event.preventDefault();
      console.log("Form submitted");

      console.log(serviceKey, templateKey, publicKey);
      console.log(form);

      emailjs.sendForm(serviceKey, templateKey, form).then(
        (response) => {
          console.log("SUCCESS!", response.status, response.text);
          form.reset();
        },
        (error) => {
          console.log("FAILED...", error);
        }
      );
    });
  });
</script>

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <div class="flex flex-row justify-center">
    <div class="flex flex-col gap-8">
      <h2
        class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl"
      >
        Sign up online!
      </h2>
      <Button
        variant="primary"
        icon="fluent:link-edit-16-filled"
        href="https://forms.gle/W3S6hmLY1N5GLubM8"
        target="_blank"
      >
        Online Signup Form</Button
      >
    </div>
  </div>

  <ContactUs
    id="form"
    title="Or drop us a message today!"
    subtitle="Let us know whether you would like to join the club or if you have any questions."
    inputs={[
      {
        type: "text",
        name: "name",
        label: "Name",
      },
      {
        type: "email",
        name: "email",
        label: "Email",
      },
    ]}
    textarea={{
      label: "Message",
      name: "message",
    }}
    disclaimer={{
      label:
        "By submitting this contact form, you acknowledge and agree to the collection of your personal information.",
    }}
    description="Our team typically responds within 24 business hours."
  />
</Layout>
